{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} Poster un tweet {% endblock %}</h2>

<form method="post">
    <div class="form-group">
        <label for="title">Nom utilisateur</label>
        <input type="text" name="nom_utilisateur"
               placeholder="Post nom_utilisateur" class="form-control"
               value="{{ request.form['nom_utilisateur'] }}"></input>
    </div>

    <div class="form-group">
        <label for="title">Hashtag</label>
        <input type="text" name="hashtag"
               placeholder="Post hashtag" class="form-control"
               value="{{ request.form['hashtag'] }}"></input>
    </div>
    <div class="form-group">
        <label for="content">Message</label>
        <textarea name="message" placeholder="Post message"
                  class="form-control">{{ request.form['message'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
